/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-lug-2016, 16.31.59
    Author     : Claudia Di Marco & Riccardo Mantini
*/

#footer{
    color: #999999;
    display: flex;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    justify-content: center;
    width: 100%;
    border-top: solid ;
    border-top-width: 1px;
    border-top-color: #999999;
    padding-top: 8px;
}

