/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-lug-2016, 16.39.58
    Author     : Claudia Di Marco & Riccardo Mantini
*/

#logoSanitApp{
    display: block;
    margin: auto; 
    height: auto;
    width: 30%;
    margin-bottom: 5px;
}

