/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-giu-2016, 20.18.44
    Author     : Claudia Di Marco & Riccardo Mantini
*/

#elementiFormMainRicerca{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mainRicerca{
    font-family: Verdana,sans-serif;
    margin-top: 50px;
}

.mainRicerca input{
    display:block;
    margin: 20px;
    margin-top: 10px;
    font-size: 15px; 
    padding:8px;
    border: 1px solid #E5E5E5;
    width: 200px;
    color: #999999;
    box-shadow: rga(0, 0, 0, 0.1)0px 0px 8px;
    -moz-box-shadow: rga(0, 0, 0, 0.1)0px 0px 8px;
    -webkit-box-shadow: rga(0, 0, 0, 0.1)0px 0px 8px;  
}

#mainRicercaCerca{
    width: 100px;
    height: 40px;
    background-color:rgb(11, 190, 210);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    left: 22.5%;
    
}
.mainRicerca i{
    color:rgb(11, 190, 210);
    transform: scale(10) rotate(90deg);
    -webkit-transform: scale(10) rotate(90deg);
    -moz-transform: scale(10) rotate(90deg);
    -ms-transform: scale(10) rotate(90deg);
    -o-transform: scale(10) rotate(90deg);
    margin: 100px;
    
}
