/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-giu-2016, 9.20.47
    Author     : Claudia Di Marco & Riccardo Mantini
*/


/*
navigation bar per diplay >600px
*/


nav{
    height: 50px;
    width: 100%;
    background-color: rgb(11, 190, 210);
    font-size: 20pt;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
}

nav ul {
    position:relative;
    margin:0 auto;
    width: 100%;
    height: 50px;
}

nav li {
    margin:0 auto;
    display: inline;
    float: left;
    /*position: relative;
    left:100px;*//*inserito per centrare il menù */
    width:20%;
}

i {
    width: 10px;
    height: 10px;
    transform: scale(2);
}

#icona-home{
    transform: scale(3.5);    
}

nav a{
    color: white;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    text-height: 30px;

}
nav i{
    text-height: 40px;
    width: 35px;
}

nav a:hover, nav a:active{
    background-color: rgb(255, 255, 255);
    color: rgb(11, 190, 210);
}

#pull {
    display: none;
}  

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: white;
    color:rgb(11,190,210);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(11,190,210);
    min-width: 160px;
}

#registrazione:hover .dropdown-content {
    display: block;
}





